<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<script type="text/javascript" src="../../lib/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../../js/disc_item.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/disc_item.css">
	<link rel="stylesheet" type="text/css" href="../../css/common_disc.css">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<title>帖子详细 </title>
<body>
	<header class="dis_index_head">
		<img class="logo" src="../../img/logo.png">
		<ul class="top_ul">
			<li>admin 在线 |</li>
			<li>提醒 短消息 |</li>
			<li>个人中心 管理中心 退出</li>
		</ul>

		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">论坛</a></li>
		  <li role="presentation"><a href="#">搜索</a></li>
		  <li role="presentation"><a href="#">帮助</a></li>
		  <li role="presentation"><a href="#">导航</a></li>
		</ul>
	</header>
	<ol class="breadcrumb" style="font-size:14px;margin-bottom: 0px;">
	  	<li><a href="#">run跑步</a></li>
	  	<li><a href="../index.html">首页</a></li>
	  	<li class="active">详细</li>
	  	<li class="top_item_img">
  			<img src="../../img/item_huise.gif">
  			<img src="../../img/item_heise.gif">
  			<img src="../../img/item_lanse.gif">
  			<img src="../../img/item_fense.gif">
  		</li>
	</ol>
	<section class="disc_item_main_part" id="main_section">
		<div class="detail_item_div page_border">
			<div class="detail_item_left">
				<img src="../../img/head_img/item_head1.jpg" class="detail_item_head_img"/>
			</div>
			<div class="detail_item_right">
				<div class="detail_right_content">
					<p>
						这里是帖子的内容
					</p>
				</div>
				<div class="detail_right_reply">
					<ul class="detail_reply_ul">
						<li>
							<img src="../../img/head_img/zhaoyan.jpg" class="reply_head"/><span>赵岩：我也想抓</span>
						</li>
						<li>
							<img src="../../img/head_img/huitailang.jpg" class="reply_head"/><span>辉太浪：你抓我</span>
						</li>
					</ul>
					<textarea>
						
					</textarea>
					<input type="button" value="回复" class="detail_reply_btn"/>
				</div>
				
			</div>
		</div>

		<div class="detail_item_div page_border">
			<div class="detail_item_left">
				<img src="../../img/head_img/item_head1.jpg" class="detail_item_head_img"/>
			</div>
			<div class="detail_item_right">
				<div class="detail_right_content">
					<p>
						这里是帖子的内容
					</p>
				</div>
				<div class="detail_right_reply">
					<ul class="detail_reply_ul">
						<li>
							<img src="../../img/head_img/zhaoyan.jpg" class="reply_head"/><span>赵岩：我也想抓</span>
						</li>
						<li>
							<img src="../../img/head_img/huitailang.jpg" class="reply_head"/><span>辉太浪：你抓我</span>
						</li>
					</ul>
					<textarea>
						
					</textarea>
					<input type="button" value="回复" class="detail_reply_btn"/>
				</div>
				
			</div>
		</div>
	</section>
	<footer>
		<span>Copyright ©2015 618伐木累</span>
	</footer>
</body>
</html>